:root{
  --color-dark: #191A23;
  --color-light: #FFFFFF;
  --color-accent: #0079ff;
  --color-gray: #a6a6a6;

  --border: 1px solid var(--color-dark);
  --border-radius: 14px;
  --border-radius-small: 10px;

  --transition-duration: 0.2s;
}